<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ConfMan/homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ConfMan/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ConfMan/homepage.js' %}">
    <title>Homepage</title>
  </head>
  <body>
    <div class="menu-wrap">
      <input class="toggler" type="checkbox">
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a class="button" href="/home/">Home</a></li>
              <li><a class="button" href="/about/">About</a></li>
              <li><a class="button" href="/make-reservation">Make reservation</a></li>
            </ul>
          </div>
        </div>
      </div>
      <header class="showcase">
        <div class="container showcase-inner">
          <h1>Welcome!</h1>
          <p>This is a Conference Room Manager app. Enjoy!</p>
          <a class="btn" href="/Read_more/">Read More</a>
        </div>
      </header>
    </div>
  <footer>
    <div id="footer-above">
      <div>
        <h3>About this page</h3>
        <p>Made with<i class="fa fa-fw fa-coffee"></i> and<i class="fa fa-fw fa-music"></i><br>by<a href="https://github.com/PSarapata">Pawel Sarapata</a>.</p>
      </div>
      <div>
        <h3>Around the Web</h3>
        <ul>
          <li><a class="button social" href="https://www.linkedin.com"><i class="fa fa-fw fa-linkedin"></i></a></li>
          <li><a class="button social" href="https://www.facebook.com"><i class="fa fa-fw fa-facebook-square"></i></a></li>
          <li><a class="button social" href="https://plus.google.com/116381125902020058105"><i class="fa fa-fw fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div id="footer-below">Pawel Sarapata
      <script>document.write(new Date().getFullYear())</script>. All Rights Reversed
    </div>
  </footer>
  </body>
</html>