{% extends 'ConfMan/html/base.html' %}

{% block content %}
    <h1>Room List</h1>
    {% if room_list %}
        <ul>
            {% for room in room_list %}
                <li>
                    <b>Room</b> #{{ room.pk }} : {{ room.name }} <b>Capacity:</b> ({{ room.capacity }})
                    <b>Projector available?</b> ({{ room.has_projector }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no rooms in the database.</p>
    {% endif %}
{% endblock %}